* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: gray;
    --quaternary-color: rgb(241, 74, 144);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    background-image: url(../images/background.png);
    background-size: cover;
}

/* Header/Nav Bar Styles*/
header {
    padding: 20px 35px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header img {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1.6vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-right: 1px solid var(--tertiary-color);
    border-left: 1px solid var(--tertiary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    text-shadow: none;
}

/* Header/Nav Bar Styles End */


/* Hero */
.hero {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.hero-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    grid-template-rows: repeat( 4, 1fr);
    grid-gap: 0px;
    grid-auto-flow: dense;
}

.photo {
    display: flex;
    width: 100%;
    grid-column: 5 / span 3;
    grid-row: 1 / span 4;
    background-size: cover;
}
/* Hero End */


/* My Work */
.projects {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0 50px 0;
}

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 10, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-1 {
    align-self: center;
    display: flex;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    background-size: cover;
    border-right: 5px solid white;
    padding: 20% 0 20% 0;
}

.item-2 {
    display: flex;
    width: 100%;
    grid-column: 3 / span 5;
    grid-row: 2 / span 3;
    background-size: cover;
    position: relative;
}

.item-2:hover .overlay {
    height: 20%;
}

.item-3 {
    display: flex;
    width: 100%;
    grid-column: 8 / span 2;
    grid-row: 2 / span 1;
    background-size: cover;
    position: relative;
}
  
.item-3:hover .overlay {
    height: 20%;
}

.item-4 {
    display: flex;
    width: 100%;
    grid-column: 8 / span 2;
    grid-row: 3 / span 1;
    background-size: cover;
    position: relative;
}
  
.item-4:hover .overlay {
    height: 20%;
}

.item-5 {
    display: flex;
    width: 100%;
    grid-column: 8 / span 2;
    grid-row: 4 / span 1;
    background-size: cover;
    position: relative;
}
  
.item-5:hover .overlay {
    height: 20%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.overlay-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* My Work End */


/* About Me */
.about {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.6)
}

.about-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.about-title {
    align-self: flex-end;
    display: flex;
    width: 100%;
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    background-size: cover;
    border-bottom: 5px solid white;
}

.about-text {
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
}
/* About Me End */


/* Contact Me */
.contact {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.contact-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 10, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.contact-title {
    align-self: center;
    display: flex;
    width: 100%;
    grid-column: 4 / span 4;
    grid-row: 1 / span 2;
    background-size: cover;
    border-bottom: 5px solid white;
}

.contact-phone {
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    position: relative;
}

.contact-phone:hover .overlay {
    height: 100%;
}

.contact-email {
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
    position: relative;
}

.contact-email:hover .overlay {
    height: 100%;
}

.overlay-email {
    white-space: nowrap; 
    color: white;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.contact-github {
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
}

.contact-linkedin {
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
}
/* Contact Me End */


/* Footer */
.footer {
    color: white;
    text-align: right;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
}
/* Footer End */

/* Media Queries */
@media screen and (max-width:1024px) {
    
    header nav ul li a {
        font-size: 30px;
    }
    .projects-container {
        grid-template-columns: repeat( 7, 1fr);
        grid-template-rows: repeat( 13, 1fr);
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 100%;
        height: 0;
    }
      
    .overlay-text {
        white-space: nowrap; 
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
    }

    .item-1 {
        align-self: center;
        display: flex;
        width: 100%;
        grid-column: 3 / span 3;
        grid-row: 1 / span 1;
        background-size: cover;
        border-right: none;
        border-bottom: 5px solid white;
        padding: 20% 0 0% 0;
    }

    .item-1 img {
        width: 50%;
    }
    
    .item-2 {
        display: flex;
        width: 100%;
        grid-column: 2 / span 5;
        grid-row: 2 / span 3;
        background-size: cover;
        position: relative;
    }

    .item-2 .overlay,
    .item-3 .overlay,
    .item-4 .overlay,
    .item-5 .overlay {
        height: 20%;
    }

    .item-3 {
        display: flex;
        width: 100%;
        grid-column: 2 / span 5;
        grid-row: 5 / span 3;
        background-size: cover;
        position: relative;
    }

    .item-4 {
        display: flex;
        width: 100%;
        grid-column: 2 / span 5;
        grid-row: 8 / span 3;
        background-size: cover;
        position: relative;
    }

    .item-5 {
        display: flex;
        width: 100%;
        grid-column: 2 / span 5;
        grid-row: 11 / span 3;
        background-size: cover;
        position: relative;
    }

    .about-text p {
        font-size: 20px;
        grid-row: 2 / span 2;
    }
}
/* End Media Queries */